venv/
__pycache__/
*.pyc
.env
venv/
__pycache__/
*.pyc
*.env
.env.discord
.env.production
.env.complete
.DS_Store
service/
viewsignals.ipynb
MA_Strategy.ipynb
sigcheck/
*.sigcheck
sigcheck

crossover_tracker.py
identifycrosses.ipynb